$main-color: #f34f3f;
$shrift-color: black;
$main-font: "Playfair Display",serif;;
$main-font-family: Montserrat, sans-serif;
$little-shrift-color: #b6b6b6;
$bg-color: #f7f7f7;
$lora-font-family: 'Rambla', sans-serif;

::selection {
    background: $main-color;
}

#nav-area{
    .container{
        .logo-part{
            a{
                text-decoration: none;
                color: $main-color;
                font-size: 35px;
                font-family: $main-font;
                letter-spacing: 10px;
            }

            a::after{
                content: "ELLO";
                color: black;
            }
        }

        .list{
            padding-top: 10px;
            display: flex;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                font-size: 15px;
                li{
                    a{
                        margin-left: 40px;
                        text-decoration: none;
                        color: $shrift-color;
                        transition: 0.2s;
                    }
                    a:hover{
                        border-bottom: 1px solid black;
                        transition: 0.2s;
                    }
                    .home{
                        display: inline-block;
                        border-bottom: 1px solid black;
                    }

                    .home:hover{
                        .home-ddwn{
                            display: block;
                            transition: 0.2s;
                            z-index: 1;
                        }
                    }
                }
            }
            .search{
                margin-left: 40px;
                margin-right: 20px;
                font-size: 20px;
                padding-bottom: 15px;
                i{
                    color: $shrift-color;
                    transition: 0.4s;
                }

                i:hover{
                    color: $main-color;
                    transition: 0.4s;
                }
            }
            
            .cart{
                padding-top: 3px;
                i{
                    font-size: 20px;
                    margin-right: 20px;
                }
            }
        }
    }

    // .dropdowns{
    //     .home-ddwn{
    //         display: none;
    //         max-width: 220px;
    //         position: absolute;
    //         left: 35%;
    //         ul{
    //             display: flex;
    //             flex-direction: column;
    //             justify-content: center;
    //             align-items: flex-start;
    //             list-style: none;
    //             font-size: 15px;
    //             li{
    //                 a{
    //                     margin-left: 40px;
    //                     text-decoration: none;
    //                     color: #949494;
    //                     transition: 0.2s;
    //                 }
    //                 a:hover{
    //                     border-bottom: 1px solid black;
    //                     transition: 0.2s;
    //                 }
    //                 .main-home{
    //                     border-bottom: 1px solid black;
    //                 }
    //             }
    //         }
    //     }

    //     .pages-ddwn{

    //     }

    //     .home-ddwn{

    //     }

    //     .home-ddwn{

    //     }

    //     .home-ddwn{

    //     }

    //     .home-ddwn{

    //     }

    //     .home-ddwn{

    //     }

    //     .home-ddwn{

    //     }


    // }
}

#nav-phone{
    display: none;
    .container{
        .logo-part{
            a{
                text-decoration: none;
                color: $main-color;
                font-size: 35px;
                font-family: $main-font;
                letter-spacing: 10px;
            }
        
            a::after{
                content: "ELLO";
                color: $shrift-color;
            }
        }
        .icon-part{
            i{
                display: flex;
                justify-content: end;
                padding-top: 13px;
                font-size: 30px;
            }
        }
    }
}

#blog{
    background-color: $bg-color;
    .container{
        padding-top: 80px;
        padding-bottom: 80px;
        .words{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            h2{
                font-size: 50px;
                font-family: $main-font;
            }
            span{
                font-family: $lora-font-family;
                font-size: 17px;
                color: $little-shrift-color;
            }
        }
    }
}

#main-part{
    margin-top: 80px;
    .container{
        .row{
            .each-card{
                margin-bottom: 60px;
                img{
                    width: 100%;
                    cursor: pointer;
                }
                h2{
                    font-size: 30px;
                    font-family: $main-font-family;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    span{
                        color: $little-shrift-color;
                        font-family: $main-font-family;
                        font-size: 18px;
                    }
                }
                .little-infos{
                    display: flex;
                    font-size: 10px;
                    font-weight: 500;
                    text-transform: uppercase;
                    letter-spacing: .15em;
                    color: $little-shrift-color;
                    span{
                        margin-right: 20px;
                        transition: 0.4s;
                    }
                    span:hover{
                        color: $main-color;
                        transition: 0.4s;
                        cursor: pointer;
                    }
                    p{
                        span{
                            color: #888888;
                        }
                    }
                    .icon-num{
                        display: flex;
                        margin-right: 20px;
                        i{
                            font-size: 15px;
                            margin-right: 5px;
                        }
                        p{
                            font-size: 11px;
                        }
                    }
                    .icon-num:hover{
                        color: $main-color;
                        transition: 0.4s;
                        cursor: pointer;
                    }
                    i{
                        font-size: 15px;
                        margin-right: 5px;
                    }
                    .last{
                        color: #888888;
                    }
                    .last:hover{
                        color: $main-color;
                        transition: 0.4s;
                        cursor: pointer;
                    }
                }
            }
    
            .box{
                background-color: #fdfbfc;
                margin-top: 60px;
                margin-bottom: 60px;
                padding-left: 60px;
                padding-top: 80px;
                padding-bottom: 80px;
                h2{
                    font-size: 24px;
                    font-family: $main-font-family;
                    cursor: pointer;
                }
                span{
                    font-size: 15px;
                    font-family: $main-font-family;
                }
                position: relative;
                overflow: hidden;
                i{
                    position: absolute;
                    font-size: 200px;
                    transform: scale(-1, 1);
                    top: 90px;
                    left: 720px;
                    color: #fbe7e7;
                }
                .chain{
                    font-size: 140px;
                    left: 750px;
                    top: 75px;
                }
            }
            
            .series{
                display: flex;
                justify-content: center;
                margin-bottom: 40px;
                gap: 10px;
                font-family: $main-font;
                cursor: pointer;
                .first{
                    color: $little-shrift-color;
                }
                .second{
                    color: #888888;
                }
                p{
                    transition: 0.4s;
                }
                p:hover{
                    color: $main-color;
                    transition: 0.4s;
                }
                i{
                    color: #888888;
                    padding-top: 3px;
                    font-size: 18px;
                    margin-left: 12px;
                }
                i:hover{
                    color: $main-color;
                    transition: 0.4s;
                }
            }
        }
        
        .right-part{
            margin-left: 30px;
            
            h2{
                font-size: 15px;
                font-family: $main-font-family;   
                letter-spacing: 2px;
                font-weight: 500;
                text-transform: uppercase;
            }
            .search-part{
                input{
                    width: 100%;
                    padding: 10px 15px;
                    border: 1px solid $little-shrift-color;
                    outline: none;
                    position: relative;
                }
                ::placeholder{
                    font-size: 15px;
                }
                i{
                    position: relative;
                    bottom: 35px;
                    left: 240px;
                    transform: scale(-1, 1);
                    color: $little-shrift-color;
                    cursor: pointer;
                }
            }
            .list{
                margin-bottom: 20px;
                ul{
                    li{
                        list-style: none;
                        margin-left: -30px;
                        margin-bottom: 8px;
                        a{
                            text-decoration: none;
                            color: $little-shrift-color;
                            transition: 0.4s;
                        }
                        a:hover{
                            color: $main-color;
                            transition: 0.4s;
                            cursor: pointer;
                        }
                    }
                    margin-bottom: 40px;
                }
            }
            .news{
                .each-l-card{
                    display: flex;
                    margin-bottom: 15px;
                    gap: 25px;
                    transition: 0.4s;
                    img{
                        width: 80px;
                        height: 50px;
                    }
                    .words{
                        span{
                            font-family: $main-font-family;   
                            letter-spacing: 2px;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                        p{
                            color: $little-shrift-color;
                            font-size: 11px;
                        }
                    }
                }
                .each-l-card:hover{
                    color: $main-color;
                    transition: 0.4s;
                    cursor: pointer;
                }
            }
            .start-now{
                margin-top: 35px;
                cursor: pointer;
                img{
                    width: 270px;
                    height: 150px;
                }
            }
        }
    }

}

#footer-part{
    background-color: #fefaf3;
    .container{
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        .up-part{
            display: flex;
            margin-left: 0px !important;
            .each-part{
                font-size: 12px;
                font-family: $main-font-family;
                h6{
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                .lists{
                    ul{
                        margin-left: -30px;
                        li{
                            list-style: none;
                            margin-bottom: 15px;
                            a{
                                text-decoration: none;
                                color: $little-shrift-color;
                                transition: 0.4s;
                            }
                            a:hover{
                                color: $main-color;
                                transition: 0.4s;
                            }
                        }
                    }
                }
            }
        }
        .bottom-part{
            border-top: 1px solid $little-shrift-color;
            padding-top: 30px;
            padding-bottom: 20px;
            .lasts{
                span{
                    font-size: 15px;
                    color: $little-shrift-color;
                    a{
                        color: gray;
                        transition: 0.4s;
                    }
                    a:hover{
                        cursor: pointer;
                        color: $main-color;
                        transition: 0.4s;
                    }
                }
            }
            .images{
                display: flex;
                justify-content: center;
                cursor: pointer;
            }
            .socials{
                display: flex;
                justify-content: end;
                gap: 40px;
                span{
                    color: $little-shrift-color;
                    text-transform: uppercase;
                    font-size: 15px;
                }
                span:hover{
                    cursor: pointer;
                    color: $main-color;
                    transition: 0.4s;
                }
            }
        }
    }
}

#icon{
    .icon-part{
        i{
            display: block;
            position: fixed;
            bottom: 20px;
            right: 30px;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: $main-color;
            color: white;
            cursor: pointer;
            padding: 15px;
            transition: 0.4s;
        }
        i:hover{
            transition: 0.4s;
            background-color: red;
        }
    }
    .icons-market{
        .up{
            display: block;
            position: fixed;
            bottom: 250px;
            right: 0px;
            font-size: 12px;
            border: none;
            outline: none;
            background-color: $main-color;
            color: white;
            cursor: pointer;
            padding: 14px;
            transition: 0.4s;
        }
        .bottom{
            display: block;
            position: fixed;
            bottom: 200px;
            right: 0px;
            font-size: 12px;
            border: none;
            outline: none;
            color: $main-color;
            background-color: white;
            cursor: pointer;
            padding: 15px;
            transition: 0.4s;   
        }
    }
}

@media only screen and (max-width: 1199px) {
    #nav-area{
        display: none;
    }

    #nav-phone{
        display: block;
    }
}

@media only screen and  (max-width: 767px){
    #footer-part{
        .container{
            .up-part{
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                .each-part{
                    margin-bottom: 40px;
                }
            }
            .bottom-part{
                .lasts{
                    margin-bottom: 25px;
                    span{
                        display: flex;
                        justify-content: center;
                        font-size: 12px;
                    }
                }
                .images{
                    margin-bottom: 25px;
                }
                .socials{
                    display: flex;
                    justify-content: center;
                    span{
                        font-size: 10px;
                    }
                }
            }
        }
    }

    #icon{
        .icon-part{
            display: none;
        }

        .icons-market{
            display: none;
        }
    }

    #main-part{
        .container{
            .row{
                flex-direction: column;
                .all{
                    .each-card{
                        img{
                            width: 350px;
                        }
                        .little-infos{
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
                .right-part{
                    h2{
                        width: 200px;
                    }
                    .search-part{
                        width: 300px;
                        i{
                            left: 260px;
                        }
                    }
                    .news{
                        .each-l-card{
                            .words{
                                width: 200px;
                            }
                        }
                    }
                    .start-now{
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 991px){
    #footer-part{
        .container{
            .up-part{
                display: flex;
                flex-direction: column;
                margin-left: 50px;
                .each-part{
                    margin-bottom: 40px;
                }
            }
            .bottom-part{
                .lasts{
                    margin-bottom: 25px;
                    span{
                        display: flex;
                        justify-content: center;
                        font-size: 17px;
                    }
                }
                .images{
                    margin-bottom: 25px;
                }
                .socials{
                    display: flex;
                    justify-content: center;
                    span{
                        font-size: 15px;
                    }
                }
            }
        }
    }

    #icon{
        .icon-part{
            i{
                right: 70px;
            }
        }

        .icons-market{
            .up{
                right: 70px;
            }
            .bottom{
                right: 70px;
            }
        }
    }

    #main-part{
        .container{
            .row{
                    display: flex;
                    flex-direction: column;
                    .each-card{
                        width: 100%;
                    }
                
                .right-part{
                    h2{
                        width: 200px;
                    }
                    .search-part{
                        width: 470px;
                        i{
                            left: 430px;
                        }
                    }
                }
            }
        }
    }
}